.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    justify-content: center;
}

.navbar__logout {
    margin-left: auto;
}

